.main-container {
  // height: 100vh;
  background-color: #2f2f2f;

  .menu-logo {
    img {
      background-color: red;
      color: white;
      transform: scaleX(-1);
      margin: 2.5rem 1.8rem;
      position: absolute;
      z-index: 5;
      top: 0;
      width: 2rem;
    }
  }

  .page {
    color: white;
    position: absolute;
    top: 0;
    margin: 5rem 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    .nav-container {
      float: right;
      width: 70vw;
      // z-index: 100;
    }
  }
}
