.artist-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 0.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .artist-item {
    margin-bottom: 4rem;

    img {
      width: 130px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .artist-item {
    img {
      width: 150px;
    }
  }
}
