.menu-container {
  cursor: pointer;
  img {
    color: white;
    transform: scaleX(-1);
    width: 2rem;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .menu-container {
    img {
      color: white;
      transform: scaleX(-1);
      width: 2rem;
      padding-top: 0;
    }
  }
}
