.nav-container {
  display: flex;
  justify-content: center;
  height: 10vh;

  .links {
    width: 25vw;
    height: inherit;
  }
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
}

.links {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  // a {
  //   color: white;
  //   text-decoration: none;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   font-size: 0.75rem;
  // }
  img {
    width: 1.2rem;
    margin-bottom: 5px;
  }
}

.links:hover {
  background-color: #2e2e2e;
  padding-top: 4px;
  border-bottom: 4px solid #1db954;
  // opacity: 1;
}

.active {
  background-color: #3b3b3b;
  padding-top: 4px;
  border-bottom: 4px solid #1db954;
  // transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 320px) {
  // .test {
  //   font-size: 0.6rem;
  // }
  .links {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;

    img {
      width: 1rem;
      margin-bottom: 5px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .nav-container {
  }
}
