.playlist-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  row-gap: 40px;
  margin-bottom: 3rem;
  // height: 100vh;
}

@media only screen and (min-width: 360px) {
  .playlist-container {
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    // gap: 0;
  }
}

@media only screen and (min-width: 674px) {
  .playlist-container {
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    // gap: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .playlist-container {
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1201px) {
  .playlist-container {
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    // gap: 0;
  }
}

@media only screen and (min-width: 1480px) {
  .playlist-container {
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 0;
  }
}
