.profile-container {
  height: 100vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h2 {
    font-size: 24px;
  }

  img {
    width: 175px;
    border-radius: 50%;
  }

  button {
    color: white;
    font-weight: 600;
    background-color: #1db954;
    border-radius: 20px;
    border: none;
    padding: 10px 24px;
  }

  button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  button:focus {
    outline: none;
  }
}
